body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  height: 64px;
}

.header > h1 {
  margin-left: 15vh;
}

.map-wrapper {
  height: calc(100vh - 66px);
}

.map {
  height: 100%;
}

.counties {
}

.county {
  stroke: black;
  stroke-width: 1px;
  opacity: 0.6;
}

.county:hover {
  cursor: pointer !important;
}