body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  height: 50px;
  position: fixed;
  left: 25%;
  z-index: 500;
  
  font-weight: 600;
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
}

.header > h1 {
  margin-left: 5vw;
}

.collapsed {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;

  z-index: 500;
}

.expanded {
  width: 100vw;
}

.menu {
  margin-top: 2rem;
}

.menu > .btn {
  margin-bottom: 2rem;
}

.map-wrapper {
  height: 100vh;
}

.map {
  height: 100%;
}

.leaflet-zoom-hide {
  pointer-events: all;
}

.counties {
  z-index: 250;
  pointer-events: all;
}

.county {
  z-index: 300;
  stroke: black;
  stroke-width: 1px;
  opacity: 0.6;

  pointer-events: all;
}

.county.active {
  opacity: 0.99;
  stroke-width: 2px;
}

g.counties > .county {
  pointer-events: all;
}

g.counties > .county:hover {
  cursor: pointer !important;
}

.flows {
  z-index: 350;
}
.flow {
  z-index: 350;
  stroke-width: 0px;
  opacity: 0.8;

  filter: blur(20px);
}

.leaflet-top.leaflet-left > .leaflet-control-zoom {
  margin-left: 10px;
  margin-top: 40px;
}

.display {
  margin-top: 5rem;
}

.display.overlay {
  position: absolute;
  left: 55px;
  top: -39px;
  padding: 20px;
  width: 22vw;
  min-width: 125px;
  max-width: 180px;

  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.8;
}

.display.hidden {
  display: none;
}

.investigate {
  margin-top: 2rem;
}

.progress-clicker {
  width: 100%;
  height: 2rem;
  border: 1px solid gray;
}

.progress-bar {
  color: var(--primary);
  height: 100%;
}

.legend-div {
  position: absolute;
  top: 30px;
  left: calc(100% - 135px);
  height: 190px;

  z-index: 420;

  border: 1px solid black;
  border-radius: 10px;

  opacity: 0.8;
  background-color: white;
}

.legend-div.smaller {
  width: 105px;
}

.legend-div.medium {
  width: 122px;
}

.legend-div.large {
  width: 135px;
}

.legend-div > svg {
  height: 180px;
}

.info-div {
  position: absolute;
  top: 225px;
  left: 425px;
  width: calc(100% - 445px);
  height: calc(100% - 280px);
  z-index: 410;

  padding: 20px;

  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.8;
}

.info-div h3 {
  display: inline-block;
}

.info-div button {
  margin-top: -10px;
  margin-right: 5px;
}
.info-div.hidden {
  display: none;
}

.info-div .chart {
  width: 100%;
  height: calc(100% - 45px);
}

.info-div svg {
  margin: 0;
  overflow: overlay;
}

.info-div g > .line {
  stroke-width: 3px;
  fill: none;
}

.info-div g > .line-0 {
  stroke: var(--primary);
}

.info-div g > .line-1 {
  stroke: var(--secondary);
}

.axis {
  shape-rendering: crispEdges;
}

.tick > text {
  font-size: 0.8rem;
}

.axis-label {
  color: black;
  text-anchor: middle;
  z-index: 430;
}