body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  height: 64px;
}

.header > h1 {
  margin-left: 5vw;
}

.map-wrapper {
  height: calc(100vh - 66px);
}

.map {
  height: 100%;
}

.leaflet-zoom-hide {
  pointer-events: all;
}

.counties {
  z-index: 250;
  pointer-events: all;
}

g.counties > .county {
  z-index: 300;
  stroke: black;
  stroke-width: 1px;
  opacity: 0.6;

  pointer-events: all;
}

g.counties > .county:hover {
  cursor: pointer !important;
}